<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/admin.css}">
    <title>Spring Music</title>
</head>
<body>
<div class="wrapper">
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">SpringMusic</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/client">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/client/playlists">Playlists</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Create playlist</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search_input">
                        <a id="search_button" href="#">
                            <button class="btn btn-outline-success" type="button" >Search</button>
                        </a>
                    </form>
                    <button type="button" id="mail_message" class="btn btn-outline-success"
                            >Send email</button>
                </div>
            </div>
        </nav>
    </header>
    <div class="page__body">
        <div class="add_playlist_form">
            <h3>Create playlist: </h3>
            <form>
                <div class="mb-3">
                    <label for="playlistName" class="form-label">Name</label>
                    <input type="text" class="form-control" id="playlistName" aria-describedby="emailHelp" required>
                </div>
                <button  type="button" class="btn btn-light save_btn">Save</button>
            </form>
            <div class="info_message"></div>
        </div>
        <div class="songs_list">
            <h3>Add song to playlist:</h3>
            <div class="list-group ">
                <div th:each="song: ${songs}">
                    <button type="button"
                            class="list-group-item list-group-item-action song_button"
                            th:utext="${song.getName()}"
                            data-th-src="${song.getId()}">
                        ...
                    </button>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">

    </footer>
</div>
<script  th:src="@{/scripts/createList.js}"></script>
<script  th:src="@{/scripts/mail.js}"></script>
<script  th:src="@{/scripts/search.js}"></script>
</body>
</html>